<!DOCTYPE html>
<html>
<head>
    <title>ECharts</title>
    <meta charset="utf-8" />

    <script src="https://cdn.bootcss.com/echarts/3.7.2/echarts.min.js"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
